@page "/"

<style>
  .nav-item {
	color: black;
	padding: 2px 14px;
	cursor: pointer;
	text-decoration: underline;
  }
  
  .nav-item.selected {
	  background-color: #8943B5;
	  color: white;
	  font-weight: bold;
	  text-decoration: none;
  }
    
  .focus-territory {
  	margin-top: 5rem;
  	height: 80vh;
  }  
</style>

<PageTitle>Домашняя страница</PageTitle>

<div class="flex-column">
	<div class="nav d-flex justify-content-end">
		@foreach (var item in NavItem.ToEnumerable())
		{
			<a href="#@item" class="nav-item @(item != _selectedNavItem ? "" : "selected")" @onclick="() => _selectedNavItem = item">
				@item
			</a>
		}
	</div>
	<div class="focus-territory">
		@if (_selectedNavItem == NavItem.Employees)
		{
			<Employees></Employees>
		}
	</div>
</div>
