@page "/"

<PageTitle>Домашняя страница</PageTitle>

<div style="flex-direction: column;">
	<div class="nav">
		@foreach (var item in NavItem.ToEnumerable())
		{
			<a href="#@item" class="nav-item @(item != _selectedNavItem ? "" : "selected")" @onclick="() => _selectedNavItem = item">
				@item
			</a>
		}
	</div>
	<div class="focus-territory">
		@if (_selectedNavItem == NavItem.Employees)
		{
            <Employees />
        }
        else if (_selectedNavItem == NavItem.Handbook)
        {
	        <Handbook />
        }
        else if (_selectedNavItem == NavItem.History)
        {
            <History />
        }
    </div>
</div>
