@inherits LayoutComponentBase

<style>
  .border-column {
    background: #@BrandColor;
    width: 250px;
    height: 100vh;
  }
  
  main {
    padding: 1rem 3rem;
  }
</style>

<div class="page">
  <BorderColumn></BorderColumn>
  
  <main>
    @Body
  </main>

  <BorderColumn></BorderColumn>
</div>

@code {
  [Parameter]
  public string BrandColor { get; set; } = "27D056";
}
