@inherits LayoutComponentBase

<div class="page">
  <BorderColumn></BorderColumn>
  
  <main>
    @Body
  </main>

  <BorderColumn></BorderColumn>
</div>

@code {
  [Parameter]
  public string BrandColor { get; set; } = "27D056";
}
